{% extends 'base.twig' %}

{% block main %}
	<main class="container-content">
		<h1 class="form-h1">Modifier l'élement
			{{element.nom}}</h1>
		<p class="form-chapo">Ici vous pouvez modifier l'élement
			{{element.chapo}}</p>
		<div class="pre-visual">
			<div class="pre-visual__item" id="dynamicElement"></div>
		</div>
		<form action="index.php?page=element&action=update" method="post" class="form" id="dynamicForm">
			<div class="form__select">
				<label for="balise-select">Choisis un type balise :</label>
				<select name="balise" id="balise-select">
					<option value="{{element.balise}}">Garder la balise &lt;{{element.balise}}&gt;</option>
                    <option value="p">Paragraphe</option>
                    <option value="img">Image</option>
                    <option value="video">Vidéo</option>
                    <option value="audio">Podcast</option>
                    <option value="img-background">Image pleine taille</option>
                    <option value="a">Lien</option>
                    <option value="blockquote">Citation</option>
                    <option value="h2">Titre 2</option>
                    <option value="h3">Titre 3</option>
                    <option value="h4">Titre 4</option>
				</select>
			</div>
			<div class="form__select">
				<label for="article-select">Choisis l'article lié selon son titre</label>
				<select name="id_article" id="article-select">
					<option value="{{element.id_article}}">Garder l'article actuel (n°{{element.id_article}})</option>
					{% for a in articles %}
						<option value="{{a.id}}">{{a.nom}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form__select">
				<label for="style-select">Appliquer un style supplementaire :</label>
				<select name="id_classe" id="class-select">
					{% if element.id_classe == null %}
						<option value="">-- Aucune classe selectionnée --</option>
					{% else %}
						<option value="{{element.id_classe}}">Garder le style actuel (n°{{element.id_classe}})</option>
					{% endif %}
					{% for c in classes %}
						<option value="{{c.id}}" data-classname="{{c.nom}}">{{c.label}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form__select">
                <label for="media-select">Choisissez l'image reliée selon son nom</label>
                <select name="id_media" id="media-select">
                    {% if element.id_media == null %}
						<option value="">--Aucune Image--</option>
					{% else %}
						<option value="{{element.id_media}}">Ne pas changer le medié utilisé (n°{{element.id_media}})</option>
					{% endif %}
                    {% for m in medias %}
                        <option value="{{m.id}}">Fichier {{m.datatype}} : {{m.nom}}</option>
                    {% endfor %}
                </select>
            </div>
			<input type="text" name="id" value="{{element.id}}" style="display:none;">
			<input type="text" name="contenu" id="toAnalyseInput" placeholder="Saisir le contenu de l'élement" value="{{element.contenu}}">
            <input type="text" name="href" id="toAnalyseInput" placeholder="Insérer un lien ou un crédit"  value="{{element.href}}">
            <input type="submit" name="create" value="Créer">
		</form>
	</main>
{% endblock main %}
