{% extends 'base.twig' %}

{% block main %}
    <main class="container-content"> 
        <h1 class="form-h1">Créer une Page</h1>
        <p class="form-chapo">Ici vous pouvez créer votre page</p>
        {# <div class="pre-visual">
            <div class="pre-visual__item" id="dynamicElement">
            </div>
        </div> #}
        {{dump(familles)}}
        <form action="index.php?page=page&action=update" method="post" class="form" id="dynamicForm">
            <label for="famille-select">Choisissez la famille reliée</label>
            <select name="id_famille" id="famille-select">
                {% for f in familles %}
                    {% if f.id != page.famille.id %}
                        <option value="{{f.id}}">{{f.nom}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {#
            <label for="article-select">Choisis l'article lié selon son titre</label>
            <select name="id_article" id="article-select">
                {% for a in articles %}
                    <option value="{{a.id}}">{{a.titre}}</option>
                {% endfor %}
            </select> #}
            <input type="text" name="id" value="{{page.id}}" style="display : none;">
            <input type="text" name="nom" placeholder="Saisir le nom de la page" value="{{page.nom}}">
            <input type="text" name="resume" placeholder="Entrez le resume de la page" value="{{page.resume}}">
            {# <input type="text" name="alt" id="toAnalyseInput" placeholder="Attribut alt de l'élement" >
            <input type="text" name="href" id="toAnalyseInput" placeholder="Insérer un lien ou un crédit">
            <input type="text" name="css" id="toAnalyseInput" placeholder="Attribut.s CSS" value="{{element.css}}"> #}
            <input type="submit" name="create" value="Modifier">
        </form>
    </main>
{% endblock main %}
